@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;400;500 & display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.introduçao{
    background-color:#6E005f ;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    text-align: justify;
    justify-content: space-around;
    color: aliceblue;
}
.titulo{
    display: inline-block;
    border-top: 5px solid #6e21fc;
}
.descriçao{
    width: 50%;
}
.inscriçao{
    background-color: #fc66216e;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.tituloform{
    text-align: center;
    display: inline-block;
    border-top: 5px solid #6E005f;
}